---
    - name: python3-pip install
      become: true
      apt:
        name: python3-pip
        state: present
        update_cache: yes

    - name: Install pyone library for one_vm
      become: true
      pip:
        name: pyone
        extra_args: --break-system-packages
        state: present

    - name: Create web-VM
      community.general.one_vm:
        api_url: https://grid5.mif.vu.lt/cloud3/RPC2
        api_username: "{{ web_user }}" #person nr1 mif username
        api_password:  "{{ user1_password }}" #person nr1 mif password
        template_id: 3016
        attributes:
          name: webserver-vm
        disk_size: 8 GB
        memory: 512 MB
        vcpu: 1
        cpu: 0.2
        state: present
      register: webserver_vm

    - name: Create db-VM
      community.general.one_vm:
        api_url: https://grid5.mif.vu.lt/cloud3/RPC2
        api_username: "{{ db_user }}"
        api_password: "{{ user2_password }}"
        template_id: 2273
        attributes:
          name: database-vm
        disk_size: 16 GB
        memory: 512 MB
        vcpu: 1
        cpu: 0.2
        state: present
      register: database_vm

    - name: Create client-VM
      community.general.one_vm:
        api_url: https://grid5.mif.vu.lt/cloud3/RPC2
        api_username: "{{ client_user }}"
        api_password: "{{ user3_password }}" #personnr3 mif password
        template_id: 3016
        attributes:
          name: client-vm
        disk_size: 8 GB
        memory: 512 MB
        vcpu: 1
        cpu: 0.2
        state: present
      register: client_vm


    - name: Extract VM IPs
      set_fact:
        web_ip: "{{ webserver_vm.instances[0].networks[0].ip }}"
        db_ip: "{{ database_vm.instances[0].networks[0].ip }}"
        client_ip: "{{ client_vm.instances[0].networks[0].ip }}"


    - name: fillup inventory with generated vms ip addresses
      copy:
        dest: ./inventory
        content: |
          [web]
          web-vm ansible_host={{ web_ip }} ansible_user=degi0449

          [db]
          db-vm ansible_host={{ db_ip }} ansible_user=degi0449

          [client]
          client-vm ansible_host={{ client_ip }} ansible_user=degi0449
